body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
}

h3 {
    font-size: 30px;
}

a {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
}

a:hover {
    color: #C63130;
}

header a:last-child{
    color: #C63130;
}

header a:last-child:hover{
    color: #8a2222;
}

header {
    margin: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border: 1px solid lightgray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header{
    margin: 0;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: 80px;
    padding-left: 10px;
}

.body{
    margin-top: 100px;
    background-image: url(./img/plank.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 20px;
    height: fit-content;
    text-align: center;
    margin-bottom: 10vh;
    padding: 50px;
}

.container p{
    text-align: left;
}

.containerDatenschutz{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60vw;
    border: 1px solid white;
    padding: 20px;
    height: 60vh;
    overflow-y: scroll;
    text-align: center;
    margin-bottom: 10vh;
    padding: 50px;
}

.containerDatenschutz p{
    text-align: left;
}

@media(max-width: 1080px){

    a{
        font-size: 16px;

    }

    .header{
        width: 70vw;
    }
}

@media(max-width: 980px){

    a{
        font-size: 15px;
    }

    .header{
        width: 80vw;
    }
 
}

@media(max-width: 780px){

    #linkToMitgliedschaft{
        display: none;
    }

    #linkToAktuelles{
        display: none;
    }

    .header{
        justify-content: flex-end;
        gap: 5%;
        padding-right: 10px;
    }
 
}

@media(max-width: 540px){

    #linkToKontakt{
        display: none;
    }

    #linkToProbetraining{
        display: none;
    }

    .container p{
        font-size: 14px;
    }

    .containerDatenschutz p{
        font-size: 14px;
    }

    .containerDatenschutz{
        width: 80vw;
        padding: 8px;
    }

    h3{
        font-size: 25px;
    }
}


@media(max-width: 340px){
    #linkToNumber{
        display: none;
    }

    .container{
        padding: 8px;
    }

}