@keyframes smoothscroll1 {

    from,
    to {
        scroll-behavior: smooth;
    }
}

@keyframes smoothscroll2 {

    from,
    to {
        scroll-behavior: smooth;
    }
}

html {
    animation: smoothscroll1 1s;
    /*overflow-x: hidden;*/
    margin: 0;
    padding: 0;
}

html:focus-within {
    animation-name: smoothscroll2;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
}

a {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
}

a:hover {
    color: #C63130;
}

header a:last-child {
    color: #C63130;
}

header a:last-child:hover {
    color: #8a2222;
}

header {
    margin: 0;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border: 1px solid lightgray;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.header {
    margin: 0;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: 10vh;
    padding-left: 10px;
}

.startpic {
    background-image: url(./img/abs.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.textboxStart {
    color: white;
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.textboxStart img {
    width: 40vw;
    max-width: 500px;
}

h1 {
    text-align: right;
    letter-spacing: 3px;
    font-size: 50px;
}

.buttonRed {
    border-radius: 4px;
    background-color: rgba(245, 63, 63, 0.5);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 210px;
    transition: all 0.5s;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.buttonRed span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonRed span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonRed:hover span {
    padding-right: 25px;
}

.buttonRed:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonRed:hover {
    background-color: rgba(245, 63, 63, 1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: black;
}

.werbung {
    color: white;
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.werbung h2 {
    font-size: 50px;
}

.werbungpic {
    width: 40vw;
    max-width: 600px;
    object-fit: scale-down;
}

.werbungPunkt {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid rgb(146, 146, 146);
}

.werbungPunkt img {
    height: 40px;
}

.pfeil {
    height: 150px;
}

#zieleOverlay {
    position: relative;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#contentOverlay {
    width: 90vw;
    height: 80vh;
    background-color: rgb(66, 0, 0);
    top: 150px;
    border: 1px solid white;
}



.ziele {
    width: 80vw;
    margin-top: 15vh;
    margin-bottom: 5vh;
    color: white;
    background-image: url('img/background_dark.jpg');
    background-size: cover;
    /*oder nur teil vom bild?*/
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*border-style: double;*/
}

.textContainer {
    text-align: center;
}

.ziele h3 {
    /*text-shadow: -2px -2px 0 #ff0000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;*/
    font-size: 50px;
    margin-block-start: 5vh;
    margin-block-end: 0;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.zielButton img {
    width: 20vw;
    padding: 0;
}


.zielButton {

    letter-spacing: 2px;
    font-size: 16px;
    border-style: none;
    border-bottom: 3px solid red;
    padding-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    text-align: center;
    width: 20vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.zielButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.zielButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.zielButton:hover span {
    padding-right: 25px;
}

.zielButton:hover span:after {
    opacity: 1;
    right: 0;
}

.zielButton:hover {
    background-color: rgb(0, 0, 0, 1);
}

.studio {
    height: 50vh;
    width: 90%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.studio img {
    height: 40%;
    cursor: pointer;
    transition: all 0.5s;
}

.studio img:hover {
    height: 50%;
}

.preise {
    color: white;
    background-image: url(./img/background2black.jpg);
    width: 100%;
    height: fit-content;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.preisLogo {
    height: 80px;
    padding-top: 40px;
}

.preise h3 {
    font-size: 50px;
    margin: 0;
    padding-top: 40px;
    letter-spacing: 2px;
}

.preisliste {
    width: 90%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.mitgliedschaft {
    background-color: rgba(0, 0, 0, 0.6);
    width: 300px;
    height: fit-content;
    padding: 30px;
    border: 1px solid white;
    transition: all 0.5s;
}

.mitgliedschaft:hover {
    background-color: rgba(0, 0, 0, 1);
}

.preisePfeil {
    height: 50px;
}

.mitgliedschaft h4 {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}


.inhalte img {
    height: 20px;
}

.inhalt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid gray;
}

.preis {
    font-weight: bold;
    font-size: 20px;
}

.konditionen {
    text-align: center;
    padding-top: 30px;
    width: 80vw;
    font-size: 14px;
    padding-bottom: 80px;
}

.tageskarte {
    height: 30vh;
    width: 100%;
    color: white;
    background-color: #cc2626;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.textboxTageskarte{
    width: 80%;
}

.tageskarte h3 {
    font-size: 40px;
    margin: 0;
}

.tageskarte h3:first-child {
    color: black;
    font-size: 50px;
}

.aktuelles {
    padding-top: 20vh;
    width: 100%;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15vh;
    background-image: url(./img/background_dark_reverse.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#aktuelles {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0;
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: rgba(255, 255, 255, 0.05);
    align-self: flex-end;
    gap: 10px;
    border-radius: 5px;
}

#aktuelles img {
    height: 100px;
    padding: 0;
}

.aktuelles h3 {
    margin-top: 10vh;
    font-size: 60px;
    letter-spacing: 4px;
    padding: 0;
}

.beitraege {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

footer {
    height: 20vh;
    background-color: rgb(15, 15, 15);
    border-top: .5px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer img {
    width: 300px;;
}

.footer_href {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.adresse {
    height: 18vh;
    padding-right: 10vw;
    padding-left: 10vw;
    border-right: .5px solid white;
    border-left: .5px solid white;
}

.probetraining {
    background-image: url(./img/background_dark.jpg);
}

.buchung {
    padding-top: 20vh;
}

@media(max-width: 1080px) {

    h1{
        font-size: 40px;
    }

    a {
        font-size: 16px;

    }

    .header {
        width: 70vw;
    }

    .werbung h2 {
        font-size: 40px;
    }

    .ziele h3, .tageskarte h3, .preise h3, .aktuelles h3 {
        font-size: 35px;
    }


.tageskarte h3:first-child {
    color: black;
    font-size: 40px;
}
}

@media(max-width: 980px) {

    a {
        font-size: 15px;
    }

    .header {
        width: 80vw;
    }

}

@media(max-width: 880px) {
    .werbung {
        flex-direction: column;
    }

    .werbungpic {
        width: 400px;
    }

    .adresse{
        display: none;
    }

    .pfeil:last-child{
        display: none;
    }
}

@media(max-width: 780px) {

    .textboxStart img{
        width: 300px;
    }

    #linkToMitgliedschaft {
        display: none;
    }

    #linkToAktuelles {
        display: none;
    }
}

@media(max-width: 650px){
    .mitgliedschaft h3, .preise h3{
        width: 80%;
        text-align: center;
    }

    .buttonContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .zielButton img{
        width: 50vw;
    }

    .zielButton{
        width: 50vw;
    }

    .ziele{
        height: fit-content;
        padding-bottom: 30px;
        padding-top: 30px;
        width: 90%;
    }
}

@media(max-width: 550px) {

    h1{
        font-size: 35px;
    }

    .buttonsStart{
        display: flex;
        flex-direction: column;
    }

    #linkToKontakt {
        display: none;
    }

    #linkToProbetraining {
        display: none;
    }

    footer img{
        width: 30vw;
    }

    .tageskarte{
        height: fit-content;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    #aktuelles img{
        display: none;
    }

    .studio{
        height: fit-content;
    }

    .studio img{
        height: 30vh;
    }

    .werbung h2{
        font-size: 30px;
    }

    .werbungPunkt{
        width: 90vw;
    }

    .werbungpic{
        width: 90vw;
    }
}

@media(max-width: 450px){
    h1{
        font-size: 30px;
    }

    .ziele h3, .tageskarte h3, .preise h3, .aktuelles h3 {
        font-size: 25px;
    }

    .studio img{
        height: auto;
        width: 80vw;
    }

    .buttonRed:last-child{
        width: 60vw;
    }
}

@media(max-width: 340px) {
    #linkToNumber {
        display: none;
    }

}